header {
  justify-content: center;
}

nav {
  background-color: #0e131f;
  color: #f7f7ff;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

nav > h1 {
  padding-left: 2em;
  font-size: 14pt;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline;
  font-size: 11pt;
  margin-right: 1rem;
}

nav a {
  color: #f7f7ff !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f7f7ff;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

body > * {
  margin: 0;
  padding: 0;
}

.horizontal {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.horizontal > * {
  flex: 1;
}

.grow {
  flex-grow: 1;
}

#hero {
  background-color: #c03221;
  color: #f7f7ff;
  font-weight: bold;
}

#hero a {
  color: #f7f7ff;
  text-decoration: underline;
}

button {
  background-color: #0e131f;
  color: #f7f7ff;
}

.center-contents {
  text-align: center;
}

.constrain-width {
  max-width: 770px;
}

.constrain-half-width {
  max-width: 1200px;
}

@media only screen and (max-width: 1345px) {

  .constrain-half-width {
    max-width: 100% !important;
  }
}

.logo {
  margin: 2rem;
  max-height: 16rem;
  object-fit: contain;
  flex: 0;
}

.padded {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

#info > h1 {
  font-size: 38pt;
}

.icon {
  font-size: 28pt;
  margin-bottom: 1rem;
  text-align: center;
}

.icon > i {
  padding: 0.8rem;
  background-color: #FCDC4D;
  border-radius: 50%;
  display: inline-block;
}

.feature {
  max-width: 20rem;
}

.bigger {
  font-size: larger;
}

.feature {
  text-align: left;
  font-size: 11pt;
}

#features {
  flex-wrap: wrap;
  justify-content: space-around !important;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.centered {
  text-align: center !important;
  display: block;
}

button {
  margin-right: 2rem;
}

.bold {
  font-weight: bold;
}

a[href] {
  color: #1F7A8C;
  font-weight: bold;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.small-btn {
  font-size: 0.8rem !important;
  padding: .285rem .375rem !important;
}

.main {
  background-color: #FCDC4D;
  color: #212529 !important;
}

.faded {
}

.actions > * {
  margin-right: 1em;
}


